<section id="gallery" class="gallery-section">
  <h2>{{ lang.t().galleryTitle }}</h2>
  <p class="subtitle">{{ lang.t().gallerySub }}</p>

  <div class="gallery-grid">
    <div class="gallery-item story-card" *ngFor="let photo of photos" [ngClass]="photo.colSpan">
      <div class="image-wrapper">
        <img [src]="photo.url" [alt]="photo.caption">
      </div>
      <div class="story-caption">
        <p class="script-text title-hover">{{ photo.caption }}</p>
      </div>
    </div>
  </div>
</section>